@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --azul-claro: #95A8D0;
  --azul-oscuro: #1D375A;
  --gris: #AAAAAA;
}

.mont-regular {
  font-family: var(--font-mont-regular), sans-serif;
}

.mont-black {
  font-family: var(--font-mont-black), sans-serif;
}

.mont-bold {
  font-family: var(--font-mont-bold), sans-serif;
}